In [152]:
%run gower_function-v6.4.ipynb
from pymongo import MongoClient
from random import randint
import pandas as pd
import numpy as np
import re
import category_encoders as ce
from scipy.spatial.distance import pdist,squareform, jaccard, cosine
from sklearn.metrics.pairwise import cosine_similarity
from scipy import sparse
from sklearn.preprocessing import StandardScaler, OneHotEncoder, OrdinalEncoder

gower_function-v6.4.ipynb:71: FutureWarning: Conversion of the second argument of issubdtype from `int` to `np.signedinteger` is deprecated. In future, it will be treated as `np.int64 == np.dtype(int).type`.
  "source": [
gower_function-v6.4.ipynb:71: FutureWarning: Conversion of the second argument of issubdtype from `int` to `np.signedinteger` is deprecated. In future, it will be treated as `np.int64 == np.dtype(int).type`.
  "source": [
gower_function-v6.4.ipynb:71: FutureWarning: Conversion of the second argument of issubdtype from `int` to `np.signedinteger` is deprecated. In future, it will be treated as `np.int64 == np.dtype(int).type`.
  "source": [
gower_function-v6.4.ipynb:71: FutureWarning: Conversion of the second argument of issubdtype from `int` to `np.signedinteger` is deprecated. In future, it will be treated as `np.int64 == np.dtype(int).type`.
  "source": [
gower_function-v6.4.ipynb:71: FutureWarning: Conversion of the second argument of issubdtype from `int` to `np.signedinteger` is deprecated. In future, it will be treated as `np.int64 == np.dtype(int).type`.
  "source": [
gower_function-v6.4.ipynb:71: FutureWarning: Conversion of the second argument of issubdtype from `int` to `np.signedinteger` is deprecated. In future, it will be treated as `np.int64 == np.dtype(int).type`.
  "source": [
gower_function-v6.4.ipynb:71: FutureWarning: Conversion of the second argument of issubdtype from `int` to `np.signedinteger` is deprecated. In future, it will be treated as `np.int64 == np.dtype(int).type`.
  "source": [
gower_function-v6.4.ipynb:71: FutureWarning: Conversion of the second argument of issubdtype from `int` to `np.signedinteger` is deprecated. In future, it will be treated as `np.int64 == np.dtype(int).type`.
  "source": [

In [153]:
client = MongoClient(port=27017)
db = client.weare

In [154]:
student_queries = db.students.find({})
students = pd.DataFrame(list(student_queries))

In [155]:
students['id']=students.Email.str.split("@", n=1, expand=True)[0]
if '_id' in students.columns:
    del students['_id']

In [156]:
#drop rows with 5 or more null values
students.dropna(thresh=5, inplace=True)
students = students.replace('', np.nan)

In [157]:
#number of courses, credits are too dirty as many entered text instead of a number
drop_columns = ["surveyCompletion", "Duration (in seconds)", "NumCourses", "transferCredits", "NumTranCredits",
                "WhyProfile", "otherChannels", "otherEmploy", "NonUS", "otherIndusry", "KnownThroughProfile",
                "otherEth", "PPLinPerson", "otherEmail"]
#only drop these columns if they actually exist in the data
drop_columns = [col for col in drop_columns if col in students.columns]
students.drop(columns=drop_columns, inplace=True)
#names of all the soc columns
SOCs = ['SOC'+str(x+1) for x in range(10)]
#names of all the CCE columns
CCEs = ['CCE'+str(x+1) for x in range(24)]
#mapping from each text column to ordinal values
#format is array of dicts containing keys 'col' and 'mapping'
ordinal_cols_mapping = []

In [158]:
#the following are mappings from textual column values to numberical ones
important_scale = [
        ('Extremely important', 7),
        ('Pretty important', 6),
        ('Fairly important', 5),
        ('Moderately important', 4),
        ('Somewhat important', 3),
        ('A little important', 2),
        ('Not at all important', 1)
]

interest_scale = [
    ('Extremely interested', 5),
    ('Rather interested', 4),
    ('Somewhat interested', 3),
    ('A bit of interest', 2),
    ('Not at all interested', 1)
]

Agree_scale = [
        ('Strongly agree', 5),
        ('Somewhat agree', 4),
        ('Neither agree nor disagree', 3),
        ('Somewhat disagree', 2),
        ('Strongly disagree', 1)
]

In [159]:
#fill in the mapping array 
for SOC in SOCs:
    ordinal_cols_mapping.append({
        "col": SOC,
        "mapping": Agree_scale
    })

for CCE in CCEs:
    ordinal_cols_mapping.append({
        "col": CCE,
        "mapping": Agree_scale
    })

for PeerInfo in ["PeerAvail", "PeerProfession", "PeerEdu", "PeerDetails"]:
    ordinal_cols_mapping.append({
        "col": PeerInfo,
        "mapping": important_scale
    })

ordinal_cols_mapping.append({
    "col": "Mconnected",
    "mapping": interest_scale
})

In [160]:
encoder = ce.OrdinalEncoder(mapping=ordinal_cols_mapping, return_df=True)
df = encoder.fit_transform(students)
#Create new columns by taking the mean of related columns for each row
df['SOC_f'] = df.apply(lambda row: np.mean([row['SOC9'], row['SOC10']]), axis=1)
df['SOC_id'] = df.apply(lambda row: np.mean([row['SOC1'], row['SOC2'], row['SOC3'], row['SOC4'], row['SOC5']]), axis=1)
df['CCE_IR'] = df.apply(lambda row: np.mean([row['CCE13'], row['CCE10'], row['CCE19'], row['CCE9']]), axis=1)
df['CCE_Coor'] = df.apply(lambda row: np.mean([row['CCE24'], row['CCE20'], row['CCE22'], row['CCE21'], row['CCE17']]), axis=1)
df['CCE_SS'] = df.apply(lambda row: np.mean([row['CCE1'], row['CCE2'], row['CCE3'], row['CCE4']]), axis=1)
df.drop(columns=CCEs + SOCs, inplace=True)

In [161]:
none_i = re.compile(r'none', flags=re.IGNORECASE)
df['kids'].replace(none_i, 0, inplace=True)
none_i = re.compile(r'zero', flags=re.IGNORECASE)
df['kids'].replace(none_i, 0, inplace=True)
stringany = re.compile(r'[a-zA-Z ()]+', flags=re.IGNORECASE)
print(f'Before digit processing, kids are {df.kids.unique()}')
df.kids = df['kids'].replace(stringany, '')

Before digit processing, kids are [ 0.  1.  2.  3.  4. nan  5.  9.]

In [162]:
categorical_cols = ["gender", "InUS", "ethnicity", "Usstate", "marrital", "employment", "industry"]
categorical_cols = [c for c in categorical_cols if c in df.columns]
df_c_mode = df[categorical_cols].mode()
print(f'mode listed are \n{df_c_mode.iloc[0]}')
print(len(df_c_mode))
for col in categorical_cols+['kids']:
    df[co].fillna(df[col].mode().iloc[0], inplace=True)

mode listed are
gender                         Female
InUS                              Yes
ethnicity                   Caucasian
Usstate                  Pennsylvania
marrital                      Married
employment    Working (paid employee)
industry         Educational services
Name: 0, dtype: object
1

In [163]:
# fill with mode, mean, or median
df_mode, df_mean, df_median = df.mode().iloc[0], df.mean(), df.median()
df.fillna(df_median, inplace=True)

In [170]:
numeric_columns = df._get_numeric_data().columns
col_is_categorical = [col not in numeric_columns for col in df.columns]
distances = gower_distances(df, categorical_features=col_is_categorical)

/home/matt/.conda/envs/weare/lib/python3.7/site-packages/ipykernel_launcher.py:71: FutureWarning: Conversion of the second argument of issubdtype from `int` to `np.signedinteger` is deprecated. In future, it will be treated as `np.int64 == np.dtype(int).type`.

In [200]:
def get_matches(index, distances, df, num_matches=1):
    best_scores = sorted(distances[index])[1: 1+num_matches]
    best_entries = [np.where(distances[index]==score)[0][0] for score in best_scores]
    og_user = df.iloc[[index]]
    best_users = [df.iloc[[entry]] for entry in best_entries]
    all_users = [og_user, *best_users]
    concat = pd.concat(all_users)
    return concat
def display_matches(distances, df, num_matches=10):
    frame = get_match(0, distances, df)
    for i in range(1, num_matches):
        match = get_matches(i, distances, df, display_mode=True)
        frame = pd.concat([frame, match])
    return frame

In [199]:
display_matches(distances, df)
get_matches(0, distances, df, num_matches=10)

[  ActiveDuty BWS         Degree           Email First Name     IP Address  \
 0        NaN  No  Master degree  sxa459@psu.edu       Sana  72.94.219.150

   InUS   Last Name   Latitude  Longitude  ...                industry  kids  \
 0  Yes  Abdulateef  40.351395 -75.930603  ...    Educational services   0.0

   marrital progress      id  SOC_f  SOC_id  CCE_IR  CCE_Coor CCE_SS
 0  Married     14.0  sxa459    2.5     5.0     4.5       3.8    3.5

 [1 rows x 38 columns],
     ActiveDuty BWS         Degree          Email First Name      IP Address  \
 172        NaN  No  Master degree  deb77@psu.edu      Debra  73.187.239.247

     InUS   Last Name   Latitude  Longitude  ...                industry  kids  \
 172  Yes  Barshinger  39.893906 -76.557999  ...    Educational services   0.0

     marrital progress     id  SOC_f  SOC_id  CCE_IR  CCE_Coor CCE_SS
 172  Married      8.0  deb77    3.0     4.4    4.25       4.4   4.25

 [1 rows x 38 columns],
    ActiveDuty BWS           Degree          Email First Name       IP Address  \
 32        NaN  No  Bachelor degree  ALH19@PSU.EDU      Apryl  128.118.208.194

    InUS Last Name   Latitude  Longitude  ...                industry  kids  \
 32  Yes      Hawn  40.784897    -77.847  ...    Educational services   0.0

    marrital progress     id  SOC_f  SOC_id  CCE_IR  CCE_Coor CCE_SS
 32  Married     12.0  ALH19    2.0     4.0     4.0       4.0    4.0

 [1 rows x 38 columns],
    ActiveDuty BWS         Degree          Email First Name     IP Address  \
 40        NaN  No  Master degree  sab89@psu.edu      Sarah  74.193.239.88

    InUS Last Name   Latitude  Longitude  ...                industry  kids  \
 40  Yes     Brown  31.134506 -93.180298  ...    Educational services   2.0

    marrital progress     id  SOC_f  SOC_id  CCE_IR  CCE_Coor CCE_SS
 40  Married     50.0  sab89    2.0     4.4     5.0       4.8   4.75

 [1 rows x 38 columns],
     ActiveDuty BWS         Degree          Email First Name    IP Address  \
 134        NaN  No  Master degree  cdh32@psu.edu    Carolyn  96.59.78.230

     InUS Last Name   Latitude  Longitude  ...                industry  kids  \
 134  Yes     Holme  27.886703 -82.511703  ...    Finance or insurance   0.0

     marrital progress     id  SOC_f  SOC_id  CCE_IR  CCE_Coor CCE_SS
 134  Married      2.0  cdh32    2.0     4.2     4.5       3.4    4.5

 [1 rows x 38 columns],
    ActiveDuty BWS         Degree           Email First Name     IP Address  \
 89        NaN  No  Master degree  mlb593@psu.edu      Maria  165.189.65.30

    InUS Last Name   Latitude  Longitude  ...                industry  kids  \
 89  Yes   Butters  43.020798 -89.360001  ...    Educational services   0.0

    marrital progress      id  SOC_f  SOC_id  CCE_IR  CCE_Coor CCE_SS
 89  Married     10.0  mlb593    1.0     3.6     4.5       4.4   3.75

 [1 rows x 38 columns],
    ActiveDuty BWS         Degree           Email First Name     IP Address  \
 93        NaN  No  Master degree  jlc672@psu.edu   Jennifer  72.69.210.247

    InUS Last Name   Latitude  Longitude  ...    \
 93  Yes     Cogen  40.714294 -74.005997  ...

                              industry  kids              marrital progress  \
 93  Arts, entertainment or recreation   0.0  Single/Never Married     41.0

         id  SOC_f  SOC_id  CCE_IR  CCE_Coor CCE_SS
 93  jlc672    2.5     3.2     4.5       3.8    3.5

 [1 rows x 38 columns],
     ActiveDuty BWS         Degree           Email First Name     IP Address  \
 111        NaN  No  Master degree  skg143@psu.edu      Susan  216.15.78.209

     InUS Last Name   Latitude  Longitude  ...                industry  kids  \
 111  Yes      Gair  40.657104 -75.502998  ...    Educational services   0.0

     marrital progress      id  SOC_f  SOC_id  CCE_IR  CCE_Coor CCE_SS
 111  Married     91.0  skg143    2.0     4.6     4.5       3.8   3.75

 [1 rows x 38 columns],
     ActiveDuty BWS           Degree           Email First Name  \
 331         No  No  Bachelor degree  cxd415@psu.edu    Caitlin

          IP Address InUS Last Name   Latitude  Longitude  ...    \
 331  67.183.131.121  Yes     Davis  47.025696  -122.7967  ...

                  industry  kids marrital progress      id  SOC_f  SOC_id  \
 331  Educational services   0.0  Married     29.0  cxd415    2.5     4.2

      CCE_IR  CCE_Coor CCE_SS
 331    4.75       4.4    4.5

 [1 rows x 38 columns],
     ActiveDuty BWS           Degree            Email First Name  \
 346        NaN  No  Bachelor degree  dmd6002@psu.edu     Denise

          IP Address InUS  Last Name   Latitude  Longitude  ...    \
 346  107.77.202.214  Yes  Dollarton  39.735107 -75.668404  ...

                  industry  kids              marrital progress       id  \
 346  Educational services   4.0  Single/Never Married      6.0  dmd6002

      SOC_f  SOC_id  CCE_IR  CCE_Coor CCE_SS
 346    1.0     3.8     4.5       4.6   3.75

 [1 rows x 38 columns],
     ActiveDuty BWS         Degree          Email First Name    IP Address  \
 160        NaN  No  Master degree  LRW14@PSU.EDU    Lindsey  71.58.221.20

     InUS Last Name   Latitude  Longitude  ...    \
 160  Yes    Fenton  40.784897    -77.847  ...

                               industry  kids marrital progress     id  SOC_f  \
 160  Arts, entertainment or recreation   0.0  Married      5.0  LRW14    1.5

      SOC_id  CCE_IR  CCE_Coor CCE_SS
 160     3.8     4.0       3.0    3.0

 [1 rows x 38 columns]]